h1{
    font-weight: bolder !important;
    text-align: center;
}
.texto-slide{
    font-size: 2.25rem;
    color: #252525;
    text-align: justify
}
.img-slides{
    max-width: 600px;
    margin-left: 3%;
}

.img-fluid{
    margin-top:2%;
}